@use "../utils/variables" as *;
@use "../utils/mixins" as *;

footer {
  position: relative;
  z-index: 2;
  background-color: $color-purple;

  .footer-content {
    width: 100%;
    max-width: $site-margins;
    position: relative;
    padding: 60px 30px 60px;
    margin: 0 auto;
    color: $color-white;
  }

  .logo-compact {
    max-width: 100px;
  }

  .logo-full .st0, .logo-compact .st0 {
    fill: $color-yellow;
  }

  h2 {
    color: $color-yellow;
  }

  .social-links {
    a {
      position: relative;
      display: inline-block;
      padding: 0.2em 0.2em;
      border: none;
      color: $color-yellow;
      background-image: radial-gradient(circle closest-side, $color-teal 100%, transparent 100%);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 0% 0%;
      transition: background-size .5s, color .5s;
      &:hover,
      &.is-active {
        background-size: 100% 100%;
      }
    } 
  }



  .nav-link {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0.2em 0.2em;
    box-shadow: inset 0 0 0 0 $color-black;
    transition: box-shadow 0.3s ease, color 0.3s ease;
    font-weight: $font-body-regular;

    &:hover {
      box-shadow: inset 300px 0 0 0 $color-black;
      //color: $color-white;
    }
  }

  .copyright {
    width: 100%;
    max-width: $site-margins;
    position: relative;
    z-index: 2;
    padding: 20px 20px;
    margin: 0 auto;
    color: $color-yellow;
    background-color: $color-purple;
    text-align: center;
    font-size: 0.8rem;
    font-weight: $font-body-bold;
  }

} // footer