@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.wrap {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
}

.header {
  // .logo-compact {
  //   display: block;
  //   height: 40px;
  //   width: auto;
  // }

  .logo-full {
    display: block;
    height: 36px;
    width: auto;
  }

//   @include respond-to(b-720) {
//     .logo-compact {
//       display: none;
//     }
// 
//     .logo-full {
//       display: block;
//     }
//   }
}

.footer {
  color: $color-black;
  font-size: 1.25rem;
}
